<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="RecentLinkPath" value="AppData\Roaming\Microsoft\Windows\Recent"/>
    <add key="JumpListPath" value="AppData\Roaming\Microsoft\Windows\Recent\AutomaticDestinations"/>
    <add key="JumpListFileExtension" value="*.automaticDestinations-ms"/>
    <add key="RemoveThese" value="f:\jmaton\mk\x"/>
    <add key="RunIntervalMinutes" value="15"/>
  </appSettings>
</configuration>